@page "/"

@inject IFeatureFlagsContext flags

<PageTitle>Home</PageTitle>

<img alt="FF logo" src="ff_logo_notext.png" style="align-content: center"/>

<h1>Harness Feature Flags - WASM</h1>
Welcome to the example Blazor Web Assembly app
